* {
    font-family: 'Arial';
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
}

button:focus {
    outline: 0;
}

.mainPageContainer {
    width: 50%;
    height: 100%;
    margin: auto;
}

.logo {
    height: 100px;
}

.overBar {
    height: 10px;
    background-color: rgb(255, 190, 68);
}

.quizArea {
    margin-bottom: 10%;
}

#startButton {
    margin-left: 40%;
    width: 20%;
    background-color: rgba(255, 216, 144, 0.863);
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
}

#startButton:hover {
    background-color: rgb(255, 190, 68);
    cursor: pointer;
}

#startButton:active {
    background-color: rgba(255, 190, 68, 0.664);
}

.underBar {
    height: 10px;
    background-color: rgb(255, 190, 68);
}

.credits {
    color: gray;
    margin-bottom: 20px;
    font-style: italic;
}

#backButton {
    width: 20%;
    background-color: rgba(255, 216, 144, 0.863);
    font-size: 150%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10%;
}

#backButton:hover {
    background-color: rgb(255, 190, 68);
    cursor: pointer;
}

#backButton:active {
    background-color: rgba(255, 190, 68, 0.664);
}